In [68]:
import pandas as pd 
import numpy

In [69]:
df = pd.read_excel("scale_quesioner_rename.xlsx", sheet_name="Lembar1")
df

,ID,Sex,Age (years),Complete,Date,C4_Q2,"2. During the past month, how long (in minutes) has it usually taken you to fall asleep each night?",C4_Q3,C3,C4_Q1,...,C. Sleep Duration,D. Sleep Efficiency,E. Sleep Disorders,F. Hypnotic,G. Daytime Dysfunction,PSQI,Unnamed: 33,examine question #2,component2 sleep latency,C2
0,1,Female,24,Finished,2018/4/13 16:53:06,23:00:00,15.0,07:45:00,07:00:00,2.0,...,3.0,1.0,1.0,0.0,2.0,1.0,NaN,0,2,1
1,2,Female,23,Finished,2018/4/17 9:34:22,02:00:00,5.0,09:00:00,07:00:00,1.0,...,3.0,0.0,1.0,0.0,2.0,1.0,NaN,0,1,1
2,3,Female,21,Finished,2018/4/17 9:46:14,01:00:00,40.0,08:00:00,07:00:00,3.0,...,3.0,0.0,1.0,0.0,3.0,1.0,NaN,2,5,3
3,4,Female,28,Finished,2018/4/17 12:09:17,22:30:00,30.0,08:00:00,09:00:00,2.0,...,3.0,0.0,1.0,0.0,1.0,1.0,NaN,1,3,2
4,5,Female,25,Finished,2018/4/17 17:00:57,00:00:00,30.0,07:30:00,07:00:00,1.0,...,3.0,0.0,0.0,0.0,0.0,1.0,NaN,1,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
84,85,Male,23,Finished,2018/7/2 21:55:31,01:00:00,20.0,08:00:00,07:00:00,2.0,...,3.0,0.0,1.0,0.0,1.0,1.0,NaN,1,3,2
85,86,Male,22,Finished,2018/7/2 21:09:42,00:30:00,35.0,08:00:00,07:00:00,4.0,...,3.0,0.0,1.0,0.0,2.0,1.0,NaN,2,6,3
86,87,Female,22,Finished,2018/7/3 11:10:27,00:00:00,30.0,08:00:00,07:00:00,2.0,...,3.0,0.0,1.0,0.0,1.0,1.0,NaN,1,3,2
87,88,Female,21,Finished,2018/7/5 6:57:22,01:00:00,10.0,06:00:00,05:00:00,1.0,...,3.0,0.0,2.0,0.0,2.0,1.0,NaN,0,1,1
88,89,Female,24,Finished,2018/7/4 23:45:30,23:00:00,10.0,07:30:00,07:30:00,2.0,...,3.0,0.0,0.0,0.0,1.0,1.0,NaN,0,2,1

In [70]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 89 entries, 0 to 88
Data columns (total 37 columns):
 #   Column                                                                                                                   Non-Null Count  Dtype
---  ------                                                                                                                   --------------  -----
 0   ID                                                                                                                       89 non-null     int64
 1   Sex                                                                                                                      89 non-null     object
 2   Age (years)                                                                                                              89 non-null     int64
 3   Complete                                                                                                                 89 non-null     object
 4   Date                                                                                                                     88 non-null     object
 5   C4_Q2                                                                                                                    88 non-null     object
 6   2. During the past month, how long (in minutes) has it usually taken you to fall asleep each night?                      88 non-null     float64
 7   C4_Q3                                                                                                                    88 non-null     object
 8   C3                                                                                                                       88 non-null     object
 9   C4_Q1                                                                                                                    88 non-null     float64
 10  5. During the past month, how often have you had trouble sleeping because you：
a. Cannot get to sleep within 30 minutes  88 non-null     float64
 11  C5_b                                                                                                                     88 non-null     float64
 12  C5_c                                                                                                                     88 non-null     float64
 13  C5_d                                                                                                                     88 non-null     float64
 14  C5_e                                                                                                                     88 non-null     float64
 15  C5_f                                                                                                                     88 non-null     float64
 16  C5_g                                                                                                                     88 non-null     float64
 17  C5_h                                                                                                                     88 non-null     float64
 18  C5_i                                                                                                                     88 non-null     float64
 19  C5_j                                                                                                                     88 non-null     float64
 20  reason                                                                                                                   22 non-null     object
 21  C6                                                                                                                       88 non-null     float64
 22  C7_Q1                                                                                                                    88 non-null     float64
 23  C7_Q2                                                                                                                    88 non-null     float64
 24  C1                                                                                                                       88 non-null     float64
 25  A. Sleep Quality                                                                                                         88 non-null     float64
 26  B. Sleep Latency                                                                                                         88 non-null     float64
 27  C. Sleep Duration                                                                                                        88 non-null     float64
 28  D. Sleep Efficiency                                                                                                      88 non-null     float64
 29  E. Sleep Disorders                                                                                                       88 non-null     float64
 30  F. Hypnotic                                                                                                              88 non-null     float64
 31  G. Daytime Dysfunction                                                                                                   88 non-null     float64
 32  PSQI                                                                                                                     88 non-null     float64
 33  Unnamed: 33                                                                                                              0 non-null      float64
 34  examine question #2                                                                                                      89 non-null     int64
 35  component2 sleep latency                                                                                                 89 non-null     int64
 36  C2                                                                                                                       89 non-null     int64
dtypes: float64(25), int64(5), object(7)
memory usage: 25.9+ KB

In [71]:
columns_to_new = [
    "ID",
    "C1",
    "C2",
    "C3",
    "C4_Q1",
    "C4_Q2",
    "C4_Q3",
    "C5_b",
    "C5_c",
    "C5_d",
    "C5_e",
    "C5_f",
    "C5_g",
    "C5_h",
    "C5_i",
    "C5_j",
    "C6",
    "C7_Q1",
    "C7_Q2"
]

df_use =df.loc[:, columns_to_new]
df_use

,ID,C1,C2,C3,C4_Q1,C4_Q2,C4_Q3,C5_b,C5_c,C5_d,C5_e,C5_f,C5_g,C5_h,C5_i,C5_j,C6,C7_Q1,C7_Q2
0,1,2.0,1,07:00:00,2.0,23:00:00,07:45:00,2.0,3.0,1.0,1.0,1.0,2.0,2.0,1.0,2.0,2.0,1.0,3.0
1,2,2.0,1,07:00:00,1.0,02:00:00,09:00:00,1.0,1.0,1.0,1.0,2.0,1.0,1.0,1.0,1.0,2.0,1.0,4.0
2,3,4.0,3,07:00:00,3.0,01:00:00,08:00:00,4.0,2.0,1.0,1.0,2.0,1.0,3.0,2.0,1.0,2.0,1.0,4.0
3,4,2.0,2,09:00:00,2.0,22:30:00,08:00:00,2.0,2.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,2.0,1.0,1.0
4,5,1.0,1,07:00:00,1.0,00:00:00,07:30:00,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,2.0,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
84,85,2.0,2,07:00:00,2.0,01:00:00,08:00:00,3.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,2.0,1.0,1.0
85,86,3.0,3,07:00:00,4.0,00:30:00,08:00:00,1.0,1.0,1.0,1.0,1.0,2.0,1.0,1.0,2.0,2.0,1.0,3.0
86,87,1.0,2,07:00:00,2.0,00:00:00,08:00:00,2.0,2.0,1.0,1.0,1.0,4.0,1.0,1.0,1.0,2.0,1.0,2.0
87,88,3.0,1,05:00:00,1.0,01:00:00,06:00:00,4.0,3.0,1.0,1.0,2.0,2.0,2.0,1.0,4.0,2.0,1.0,3.0
88,89,2.0,1,07:30:00,2.0,23:00:00,07:30:00,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,2.0,1.0,1.0

In [72]:
df['C3'].describe()

count           88
unique          10
top       07:00:00
freq            27
Name: C3, dtype: object

In [73]:
# Fungsi untuk mengonversi jawaban menjadi skor
def calculate_score(response):
    if response > 7:
        return 0
    elif response >= 6:
        return 1
    elif response >= 5:
        return 2
    else:
        return 3


df_use['C3_type'] = df_use['C3'].astype(str)

# Mengonversi string menjadi tipe data waktu (timedelta)
df_use['C3_type'] = pd.to_timedelta(df_use['C3_type'])
df_use['C3_hours'] = df_use['C3_type'].dt.components.hours

# Menggunakan metode apply untuk menerapkan fungsi ke setiap nilai dalam kolom 'C3'
df_use['Component 3 Score'] = df_use['C3_hours'].apply(calculate_score)

# Menampilkan DataFrame hasil
df_use

,ID,C1,C2,C3,C4_Q1,C4_Q2,C4_Q3,C5_b,C5_c,C5_d,...,C5_g,C5_h,C5_i,C5_j,C6,C7_Q1,C7_Q2,C3_type,C3_hours,Component 3 Score
0,1,2.0,1,07:00:00,2.0,23:00:00,07:45:00,2.0,3.0,1.0,...,2.0,2.0,1.0,2.0,2.0,1.0,3.0,0 days 07:00:00,7.0,1
1,2,2.0,1,07:00:00,1.0,02:00:00,09:00:00,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,2.0,1.0,4.0,0 days 07:00:00,7.0,1
2,3,4.0,3,07:00:00,3.0,01:00:00,08:00:00,4.0,2.0,1.0,...,1.0,3.0,2.0,1.0,2.0,1.0,4.0,0 days 07:00:00,7.0,1
3,4,2.0,2,09:00:00,2.0,22:30:00,08:00:00,2.0,2.0,1.0,...,1.0,1.0,1.0,1.0,2.0,1.0,1.0,0 days 09:00:00,9.0,0
4,5,1.0,1,07:00:00,1.0,00:00:00,07:30:00,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,2.0,1.0,1.0,0 days 07:00:00,7.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
84,85,2.0,2,07:00:00,2.0,01:00:00,08:00:00,3.0,1.0,1.0,...,1.0,1.0,1.0,1.0,2.0,1.0,1.0,0 days 07:00:00,7.0,1
85,86,3.0,3,07:00:00,4.0,00:30:00,08:00:00,1.0,1.0,1.0,...,2.0,1.0,1.0,2.0,2.0,1.0,3.0,0 days 07:00:00,7.0,1
86,87,1.0,2,07:00:00,2.0,00:00:00,08:00:00,2.0,2.0,1.0,...,4.0,1.0,1.0,1.0,2.0,1.0,2.0,0 days 07:00:00,7.0,1
87,88,3.0,1,05:00:00,1.0,01:00:00,06:00:00,4.0,3.0,1.0,...,2.0,2.0,1.0,4.0,2.0,1.0,3.0,0 days 05:00:00,5.0,2
88,89,2.0,1,07:30:00,2.0,23:00:00,07:30:00,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,2.0,1.0,1.0,0 days 07:30:00,7.0,1

In [74]:
# Konversi kolom waktu menjadi tipe data datetime
df_use['C4_Q2'] = pd.to_datetime(df_use['C4_Q2'], format='%H:%M:%S')
df_use['C4_Q3'] = pd.to_datetime(df_use['C4_Q3'], format='%H:%M:%S')

# Tambahkan satu hari ke waktu selesai jika waktu selesai lebih kecil dari waktu mulai
df_use.loc[df_use['C4_Q3'] < df_use['C4_Q2'], 'C4_Q3'] += pd.Timedelta(days=1)

# Hitung selisih waktu
df_use['selisih_waktu'] = df_use['C4_Q3'] - df_use['C4_Q2']

# Konversi selisih waktu menjadi jam
df_use['jam_kasur'] = df_use['selisih_waktu'].dt.total_seconds() / 3600

# Tampilkan DataFrame
df_use

,ID,C1,C2,C3,C4_Q1,C4_Q2,C4_Q3,C5_b,C5_c,C5_d,...,C5_i,C5_j,C6,C7_Q1,C7_Q2,C3_type,C3_hours,Component 3 Score,selisih_waktu,jam_kasur
0,1,2.0,1,07:00:00,2.0,1900-01-01 23:00:00,1900-01-02 07:45:00,2.0,3.0,1.0,...,1.0,2.0,2.0,1.0,3.0,0 days 07:00:00,7.0,1,0 days 08:45:00,8.75
1,2,2.0,1,07:00:00,1.0,1900-01-01 02:00:00,1900-01-01 09:00:00,1.0,1.0,1.0,...,1.0,1.0,2.0,1.0,4.0,0 days 07:00:00,7.0,1,0 days 07:00:00,7.00
2,3,4.0,3,07:00:00,3.0,1900-01-01 01:00:00,1900-01-01 08:00:00,4.0,2.0,1.0,...,2.0,1.0,2.0,1.0,4.0,0 days 07:00:00,7.0,1,0 days 07:00:00,7.00
3,4,2.0,2,09:00:00,2.0,1900-01-01 22:30:00,1900-01-02 08:00:00,2.0,2.0,1.0,...,1.0,1.0,2.0,1.0,1.0,0 days 09:00:00,9.0,0,0 days 09:30:00,9.50
4,5,1.0,1,07:00:00,1.0,1900-01-01 00:00:00,1900-01-01 07:30:00,1.0,1.0,1.0,...,1.0,1.0,2.0,1.0,1.0,0 days 07:00:00,7.0,1,0 days 07:30:00,7.50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
84,85,2.0,2,07:00:00,2.0,1900-01-01 01:00:00,1900-01-01 08:00:00,3.0,1.0,1.0,...,1.0,1.0,2.0,1.0,1.0,0 days 07:00:00,7.0,1,0 days 07:00:00,7.00
85,86,3.0,3,07:00:00,4.0,1900-01-01 00:30:00,1900-01-01 08:00:00,1.0,1.0,1.0,...,1.0,2.0,2.0,1.0,3.0,0 days 07:00:00,7.0,1,0 days 07:30:00,7.50
86,87,1.0,2,07:00:00,2.0,1900-01-01 00:00:00,1900-01-01 08:00:00,2.0,2.0,1.0,...,1.0,1.0,2.0,1.0,2.0,0 days 07:00:00,7.0,1,0 days 08:00:00,8.00
87,88,3.0,1,05:00:00,1.0,1900-01-01 01:00:00,1900-01-01 06:00:00,4.0,3.0,1.0,...,1.0,4.0,2.0,1.0,3.0,0 days 05:00:00,5.0,2,0 days 05:00:00,5.00
88,89,2.0,1,07:30:00,2.0,1900-01-01 23:00:00,1900-01-02 07:30:00,1.0,1.0,1.0,...,1.0,1.0,2.0,1.0,1.0,0 days 07:30:00,7.0,1,0 days 08:30:00,8.50

In [76]:
def calculate_score(row):
    tidur_kasur_ratio = row['C3_hours'] / row['jam_kasur']
    if tidur_kasur_ratio > 0.85:
        return 0
    elif tidur_kasur_ratio > 0.75:
        return 1
    elif tidur_kasur_ratio > 0.65:
        return 2
    else:
        return 3

# Menerapkan fungsi ke setiap baris dalam DataFrame
df_use["Component 4 Score"] = df_use.apply(lambda row: calculate_score(row), axis=1)
df_use

,ID,C1,C2,C3,C4_Q1,C4_Q2,C4_Q3,C5_b,C5_c,C5_d,...,C5_j,C6,C7_Q1,C7_Q2,C3_type,C3_hours,Component 3 Score,selisih_waktu,jam_kasur,Component 4 Score
0,1,2.0,1,07:00:00,2.0,1900-01-01 23:00:00,1900-01-02 07:45:00,2.0,3.0,1.0,...,2.0,2.0,1.0,3.0,0 days 07:00:00,7.0,1,0 days 08:45:00,8.75,1
1,2,2.0,1,07:00:00,1.0,1900-01-01 02:00:00,1900-01-01 09:00:00,1.0,1.0,1.0,...,1.0,2.0,1.0,4.0,0 days 07:00:00,7.0,1,0 days 07:00:00,7.00,0
2,3,4.0,3,07:00:00,3.0,1900-01-01 01:00:00,1900-01-01 08:00:00,4.0,2.0,1.0,...,1.0,2.0,1.0,4.0,0 days 07:00:00,7.0,1,0 days 07:00:00,7.00,0
3,4,2.0,2,09:00:00,2.0,1900-01-01 22:30:00,1900-01-02 08:00:00,2.0,2.0,1.0,...,1.0,2.0,1.0,1.0,0 days 09:00:00,9.0,0,0 days 09:30:00,9.50,0
4,5,1.0,1,07:00:00,1.0,1900-01-01 00:00:00,1900-01-01 07:30:00,1.0,1.0,1.0,...,1.0,2.0,1.0,1.0,0 days 07:00:00,7.0,1,0 days 07:30:00,7.50,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
84,85,2.0,2,07:00:00,2.0,1900-01-01 01:00:00,1900-01-01 08:00:00,3.0,1.0,1.0,...,1.0,2.0,1.0,1.0,0 days 07:00:00,7.0,1,0 days 07:00:00,7.00,0
85,86,3.0,3,07:00:00,4.0,1900-01-01 00:30:00,1900-01-01 08:00:00,1.0,1.0,1.0,...,2.0,2.0,1.0,3.0,0 days 07:00:00,7.0,1,0 days 07:30:00,7.50,0
86,87,1.0,2,07:00:00,2.0,1900-01-01 00:00:00,1900-01-01 08:00:00,2.0,2.0,1.0,...,1.0,2.0,1.0,2.0,0 days 07:00:00,7.0,1,0 days 08:00:00,8.00,0
87,88,3.0,1,05:00:00,1.0,1900-01-01 01:00:00,1900-01-01 06:00:00,4.0,3.0,1.0,...,4.0,2.0,1.0,3.0,0 days 05:00:00,5.0,2,0 days 05:00:00,5.00,0
88,89,2.0,1,07:30:00,2.0,1900-01-01 23:00:00,1900-01-02 07:30:00,1.0,1.0,1.0,...,1.0,2.0,1.0,1.0,0 days 07:30:00,7.0,1,0 days 08:30:00,8.50,1

In [78]:
# Custom function to calculate sum and assign scores
def calculate_sum_and_score(row):
    sum_C5 = sum(row['C5_b':'C5_j'])
    if sum_C5 == 0:
        return 0
    elif 1 <= sum_C5 <= 9:
        return 1
    elif 10 <= sum_C5 <= 19:
        return 2
    elif 20 <= sum_C5 <= 27:
        return 3
    else:
        return None  # Return None for undefined cases

# Apply the custom function to each row
df_use['Commponent 5 Score'] = df_use.apply(calculate_sum_and_score, axis=1)

df_use

,ID,C1,C2,C3,C4_Q1,C4_Q2,C4_Q3,C5_b,C5_c,C5_d,...,C7_Q1,C7_Q2,C3_type,C3_hours,Component 3 Score,selisih_waktu,jam_kasur,Component 4 Score,sum C5,Commponent 5 Score
0,1,2.0,1,07:00:00,2.0,1900-01-01 23:00:00,1900-01-02 07:45:00,2.0,3.0,1.0,...,1.0,3.0,0 days 07:00:00,7.0,1,0 days 08:45:00,8.75,1,2.0,2.0
1,2,2.0,1,07:00:00,1.0,1900-01-01 02:00:00,1900-01-01 09:00:00,1.0,1.0,1.0,...,1.0,4.0,0 days 07:00:00,7.0,1,0 days 07:00:00,7.00,0,2.0,2.0
2,3,4.0,3,07:00:00,3.0,1900-01-01 01:00:00,1900-01-01 08:00:00,4.0,2.0,1.0,...,1.0,4.0,0 days 07:00:00,7.0,1,0 days 07:00:00,7.00,0,2.0,2.0
3,4,2.0,2,09:00:00,2.0,1900-01-01 22:30:00,1900-01-02 08:00:00,2.0,2.0,1.0,...,1.0,1.0,0 days 09:00:00,9.0,0,0 days 09:30:00,9.50,0,2.0,2.0
4,5,1.0,1,07:00:00,1.0,1900-01-01 00:00:00,1900-01-01 07:30:00,1.0,1.0,1.0,...,1.0,1.0,0 days 07:00:00,7.0,1,0 days 07:30:00,7.50,0,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
84,85,2.0,2,07:00:00,2.0,1900-01-01 01:00:00,1900-01-01 08:00:00,3.0,1.0,1.0,...,1.0,1.0,0 days 07:00:00,7.0,1,0 days 07:00:00,7.00,0,2.0,2.0
85,86,3.0,3,07:00:00,4.0,1900-01-01 00:30:00,1900-01-01 08:00:00,1.0,1.0,1.0,...,1.0,3.0,0 days 07:00:00,7.0,1,0 days 07:30:00,7.50,0,2.0,2.0
86,87,1.0,2,07:00:00,2.0,1900-01-01 00:00:00,1900-01-01 08:00:00,2.0,2.0,1.0,...,1.0,2.0,0 days 07:00:00,7.0,1,0 days 08:00:00,8.00,0,2.0,2.0
87,88,3.0,1,05:00:00,1.0,1900-01-01 01:00:00,1900-01-01 06:00:00,4.0,3.0,1.0,...,1.0,3.0,0 days 05:00:00,5.0,2,0 days 05:00:00,5.00,0,3.0,3.0
88,89,2.0,1,07:30:00,2.0,1900-01-01 23:00:00,1900-01-02 07:30:00,1.0,1.0,1.0,...,1.0,1.0,0 days 07:30:00,7.0,1,0 days 08:30:00,8.50,1,1.0,1.0

In [80]:
df_use['C6'].rename("Component 6 Score")
df_use

,ID,C1,C2,C3,C4_Q1,C4_Q2,C4_Q3,C5_b,C5_c,C5_d,...,C7_Q1,C7_Q2,C3_type,C3_hours,Component 3 Score,selisih_waktu,jam_kasur,Component 4 Score,sum C5,Commponent 5 Score
0,1,2.0,1,07:00:00,2.0,1900-01-01 23:00:00,1900-01-02 07:45:00,2.0,3.0,1.0,...,1.0,3.0,0 days 07:00:00,7.0,1,0 days 08:45:00,8.75,1,2.0,2.0
1,2,2.0,1,07:00:00,1.0,1900-01-01 02:00:00,1900-01-01 09:00:00,1.0,1.0,1.0,...,1.0,4.0,0 days 07:00:00,7.0,1,0 days 07:00:00,7.00,0,2.0,2.0
2,3,4.0,3,07:00:00,3.0,1900-01-01 01:00:00,1900-01-01 08:00:00,4.0,2.0,1.0,...,1.0,4.0,0 days 07:00:00,7.0,1,0 days 07:00:00,7.00,0,2.0,2.0
3,4,2.0,2,09:00:00,2.0,1900-01-01 22:30:00,1900-01-02 08:00:00,2.0,2.0,1.0,...,1.0,1.0,0 days 09:00:00,9.0,0,0 days 09:30:00,9.50,0,2.0,2.0
4,5,1.0,1,07:00:00,1.0,1900-01-01 00:00:00,1900-01-01 07:30:00,1.0,1.0,1.0,...,1.0,1.0,0 days 07:00:00,7.0,1,0 days 07:30:00,7.50,0,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
84,85,2.0,2,07:00:00,2.0,1900-01-01 01:00:00,1900-01-01 08:00:00,3.0,1.0,1.0,...,1.0,1.0,0 days 07:00:00,7.0,1,0 days 07:00:00,7.00,0,2.0,2.0
85,86,3.0,3,07:00:00,4.0,1900-01-01 00:30:00,1900-01-01 08:00:00,1.0,1.0,1.0,...,1.0,3.0,0 days 07:00:00,7.0,1,0 days 07:30:00,7.50,0,2.0,2.0
86,87,1.0,2,07:00:00,2.0,1900-01-01 00:00:00,1900-01-01 08:00:00,2.0,2.0,1.0,...,1.0,2.0,0 days 07:00:00,7.0,1,0 days 08:00:00,8.00,0,2.0,2.0
87,88,3.0,1,05:00:00,1.0,1900-01-01 01:00:00,1900-01-01 06:00:00,4.0,3.0,1.0,...,1.0,3.0,0 days 05:00:00,5.0,2,0 days 05:00:00,5.00,0,3.0,3.0
88,89,2.0,1,07:30:00,2.0,1900-01-01 23:00:00,1900-01-02 07:30:00,1.0,1.0,1.0,...,1.0,1.0,0 days 07:30:00,7.0,1,0 days 08:30:00,8.50,1,1.0,1.0

In [81]:
# Custom function to calculate sum and assign scores
def calculate_sum_and_score_q7(row):
    sum_C7 = sum(row['C7_Q1':'C7_Q2'])
    if sum_C7 == 0:
        return 0
    elif 1 <= sum_C7 <= 2:
        return 1
    elif 3 <= sum_C7 <= 4:
        return 2
    elif  5<= sum_C7 <= 6:
        return 3
    else:
        return None  # Return None for undefined cases

# Apply the custom function to each row
df_use['Commponent 7 Score'] = df_use.apply(calculate_sum_and_score_q7, axis=1)

df_use

,ID,C1,C2,C3,C4_Q1,C4_Q2,C4_Q3,C5_b,C5_c,C5_d,...,C7_Q2,C3_type,C3_hours,Component 3 Score,selisih_waktu,jam_kasur,Component 4 Score,sum C5,Commponent 5 Score,Commponent 7 Score
0,1,2.0,1,07:00:00,2.0,1900-01-01 23:00:00,1900-01-02 07:45:00,2.0,3.0,1.0,...,3.0,0 days 07:00:00,7.0,1,0 days 08:45:00,8.75,1,2.0,2.0,2.0
1,2,2.0,1,07:00:00,1.0,1900-01-01 02:00:00,1900-01-01 09:00:00,1.0,1.0,1.0,...,4.0,0 days 07:00:00,7.0,1,0 days 07:00:00,7.00,0,2.0,2.0,3.0
2,3,4.0,3,07:00:00,3.0,1900-01-01 01:00:00,1900-01-01 08:00:00,4.0,2.0,1.0,...,4.0,0 days 07:00:00,7.0,1,0 days 07:00:00,7.00,0,2.0,2.0,3.0
3,4,2.0,2,09:00:00,2.0,1900-01-01 22:30:00,1900-01-02 08:00:00,2.0,2.0,1.0,...,1.0,0 days 09:00:00,9.0,0,0 days 09:30:00,9.50,0,2.0,2.0,1.0
4,5,1.0,1,07:00:00,1.0,1900-01-01 00:00:00,1900-01-01 07:30:00,1.0,1.0,1.0,...,1.0,0 days 07:00:00,7.0,1,0 days 07:30:00,7.50,0,1.0,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
84,85,2.0,2,07:00:00,2.0,1900-01-01 01:00:00,1900-01-01 08:00:00,3.0,1.0,1.0,...,1.0,0 days 07:00:00,7.0,1,0 days 07:00:00,7.00,0,2.0,2.0,1.0
85,86,3.0,3,07:00:00,4.0,1900-01-01 00:30:00,1900-01-01 08:00:00,1.0,1.0,1.0,...,3.0,0 days 07:00:00,7.0,1,0 days 07:30:00,7.50,0,2.0,2.0,2.0
86,87,1.0,2,07:00:00,2.0,1900-01-01 00:00:00,1900-01-01 08:00:00,2.0,2.0,1.0,...,2.0,0 days 07:00:00,7.0,1,0 days 08:00:00,8.00,0,2.0,2.0,2.0
87,88,3.0,1,05:00:00,1.0,1900-01-01 01:00:00,1900-01-01 06:00:00,4.0,3.0,1.0,...,3.0,0 days 05:00:00,5.0,2,0 days 05:00:00,5.00,0,3.0,3.0,2.0
88,89,2.0,1,07:30:00,2.0,1900-01-01 23:00:00,1900-01-02 07:30:00,1.0,1.0,1.0,...,1.0,0 days 07:30:00,7.0,1,0 days 08:30:00,8.50,1,1.0,1.0,1.0

In [85]:
# Calculate the total score
df_use["Total"] = df_use[['C1', 'C2', 'Component 3 Score', 'Component 4 Score', 'Commponent 5 Score', 'C6', 'Commponent 7 Score']].sum(axis=1)

# Determine sleep quality based on the total score
df_use['sleep_quality'] = df_use['Total'].apply(lambda x: 1 if x > 5 else 0)
df_use

,ID,C1,C2,C3,C4_Q1,C4_Q2,C4_Q3,C5_b,C5_c,C5_d,...,C3_hours,Component 3 Score,selisih_waktu,jam_kasur,Component 4 Score,sum C5,Commponent 5 Score,Commponent 7 Score,Total,sleep_quality
0,1,2.0,1,07:00:00,2.0,1900-01-01 23:00:00,1900-01-02 07:45:00,2.0,3.0,1.0,...,7.0,1,0 days 08:45:00,8.75,1,2.0,2.0,2.0,11.0,1
1,2,2.0,1,07:00:00,1.0,1900-01-01 02:00:00,1900-01-01 09:00:00,1.0,1.0,1.0,...,7.0,1,0 days 07:00:00,7.00,0,2.0,2.0,3.0,11.0,1
2,3,4.0,3,07:00:00,3.0,1900-01-01 01:00:00,1900-01-01 08:00:00,4.0,2.0,1.0,...,7.0,1,0 days 07:00:00,7.00,0,2.0,2.0,3.0,15.0,1
3,4,2.0,2,09:00:00,2.0,1900-01-01 22:30:00,1900-01-02 08:00:00,2.0,2.0,1.0,...,9.0,0,0 days 09:30:00,9.50,0,2.0,2.0,1.0,9.0,1
4,5,1.0,1,07:00:00,1.0,1900-01-01 00:00:00,1900-01-01 07:30:00,1.0,1.0,1.0,...,7.0,1,0 days 07:30:00,7.50,0,1.0,1.0,1.0,7.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
84,85,2.0,2,07:00:00,2.0,1900-01-01 01:00:00,1900-01-01 08:00:00,3.0,1.0,1.0,...,7.0,1,0 days 07:00:00,7.00,0,2.0,2.0,1.0,10.0,1
85,86,3.0,3,07:00:00,4.0,1900-01-01 00:30:00,1900-01-01 08:00:00,1.0,1.0,1.0,...,7.0,1,0 days 07:30:00,7.50,0,2.0,2.0,2.0,13.0,1
86,87,1.0,2,07:00:00,2.0,1900-01-01 00:00:00,1900-01-01 08:00:00,2.0,2.0,1.0,...,7.0,1,0 days 08:00:00,8.00,0,2.0,2.0,2.0,10.0,1
87,88,3.0,1,05:00:00,1.0,1900-01-01 01:00:00,1900-01-01 06:00:00,4.0,3.0,1.0,...,5.0,2,0 days 05:00:00,5.00,0,3.0,3.0,2.0,13.0,1
88,89,2.0,1,07:30:00,2.0,1900-01-01 23:00:00,1900-01-02 07:30:00,1.0,1.0,1.0,...,7.0,1,0 days 08:30:00,8.50,1,1.0,1.0,1.0,9.0,1

In [92]:
# Count the occurrences of each value in the 'sleep_quality' column
sleep_quality_counts = df_use['sleep_quality'].value_counts()

# Get the count of a specific value (e.g., 1)
count_of_1 = sleep_quality_counts.get(1)  # Get the count of value 1, default to 0 if not found

print(count_of_1)

89